

<img src="/assets/img/burger.jpg" />

<h1>Eat-Da-Burger!</h1>

<div class="row">
  <div class="col">
     

    <ol>
      {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devoured=true}} {{/unless}} {{/each}}
    </ol>
  </div>
  <div class="col">
     

    <ol>
      {{#each burgers}} {{#if devoured}} {{> burgers/burger_block1 devoured=false}} {{/if}} {{/each}}
    </ol>
  </div>
</div>
 
<form class="create-form">

  <div class="form-group">
     
    <input type="text" id="bu" name="name" width="48" height="48">
  

  <!--<div class="form-group">
    <label for="slee">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Devoured
  </div>-->
<br/>
<br/>
  <button class = "button1" type="submit">Submit</button>
  <br/>
  <br/>
  <label>Enter a burger you want to eat. Click the Submit button.</label>
  </div>
</form>